<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Rugby Players List</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
  </head>
<body>
  <table class="table-condensed">
    <th><h1 th:inline="text">Rugby Players  - Bienvenido [[${#httpServletRequest.remoteUser}]]</h1></th>  
    <th><form th:action="@{/logout}" method="post">
      <input type="submit" value="Logout" class="btn btn-danger"/> 
     </form></th>
  </table>
      
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <form action="/playerlist" method="GET">
          <th>ID<INPUT TYPE="Radio" id="sortBy" th:checked="${checked1}" Name="sortBy" th:value="id" onchange="this.form.submit()" selected="true"></th>          
          <th>NOMBRE<INPUT TYPE="Radio" id="sort" th:checked="${checked2}" Name="sortBy" th:value="name" onchange="this.form.submit()"></th>
          <th>APELLIDO <INPUT TYPE="Radio" Name="sortBy" th:checked="${checked3}" th:value="lastName" onchange="this.form.submit()"></th></th>
          <th>POSICION <INPUT TYPE="Radio" Name="sortBy" th:checked="${checked4}" th:value="position" onchange="this.form.submit()"></th></th>
          <th>EDAD <INPUT TYPE="Radio" Name="sortBy" th:checked="${checked5}" th:value="age" onchange="this.form.submit()"></th></th>
          </form>
          <th>EDITAR</th>
          <th>ELIMINAR</th>
        </tr>
        </thead>
        <div th:each="Player : ${lista}">
        <span th:if="${Player.id} == ${id}">
          <tr>
            <form action="playerlist" method="POST" >
            <td><input type="number" id="fid" name="id" th:value=${Player.id} readonly style="width:40px"></td>
            <td><input type="text" id="fname" name="name" th:value=${Player.name} ></td>
            <td><input type="text" id="flastname" name="lastName" th:value=${Player.lastName} ></td>
            <td><input type="text" id="fposition" name="position" th:value=${Player.position} ></td>
            <td> <input type="number" id="fage" name="age" th:value=${Player.age}></td>
            <td>
              <input type="submit" class="btn btn-success" value="Confirm" th:onclick="|makePUTrequest('${Player.id}')|">
              </form></td>
            <td><input type="submit" class="btn btn-danger" value="Delete" th:onclick="|makeDELETErequest('${Player.id}')|"></td>
          
          </tr>
        </span>

        <span th:unless="${Player.id} == ${id}">
          <tr>
          <td th:text="${Player.id}"</td>
          <td th:text="${Player.name}"</td>
          <td th:text="${Player.lastName}"></td>
          <td th:text="${Player.position}"></td>
          <td th:text="${Player.age}"></td>
          <td>    
            <form action="/editPlayer" method="POST" >
            <input type="number" id="fid" name="id" th:value="${Player.id}" hidden>
            <input type="text" id="fname" name="name" th:value="${Player.name}" hidden>
            <input type="text" id="flastname" name="lastName" th:value="${Player.lastName}" hidden>
            <input type="text" id="fposition" name="position" th:value="${Player.position}" hidden>
            <input type="number" id="fage" name="age" th:value="${Player.age}" hidden>
            <input type="submit" class="btn btn-success" value="Edit">
            </form>
          </td>  
          <td>    
            
            
            <input type="submit" class="btn btn-danger" value="Delete" th:onclick="|makeDELETErequest('${Player.id}')|">
          
          </td>  
        </tr>
      </span>
        
      </table>
    
    </div>

    <div class="container">
      <p> </p>
      <p> </p>
      <h2>Agregar Player</h2>
      <p> </p>
      <p> </p>
      <form action="playerlist" method="POST" >
    
        <input type="number" id="fid" name="id"value=1 hidden>
        <label for="fname">Name</label>
        <input type="text" id="fid" name="name" required= true>
        <label for="flastname">Last Name</label>
        <input type="text" id="flastname" name="lastName" required= true>
        <label for="fposition">Position</label>
        <input type="text" id="fpositino" name="position" required= true>
        <label for="fage">Age</label>
        <input type="number" id="fage" name="age" required= true>
  
  
        <input type="submit" value="Add Player" class="btn btn-primary">
    
      </form>
    </div>
  
    <div class = "container">
      <p>  </p>


      <p>  </p>
      <p>  </p>
    </div>

    <script> 
      function makePUTrequest(id, name, lastName, position, age) { 
          $.ajax({ 
              url: 'http://localhost:8080/playerlist/', 
              type: 'PUT', 
              data:  {      id: id,
                            name: name,
                            lastName: lastName,
                            position: position,
                            age: age
              },
              success: function (result) { 
                  location.href('http://localhost:8080/playerlist?sortBy=id'); 
              } 
          }); 
      } 
     
      function makeDELETErequest(id) { 
         console.log("Resultado a ID", id);
          $.ajax({ 
              url: 'http://localhost:8080/playerlist/'+ id, 
              type: 'DELETE', 
              success: function (result) { 
                  location.reload(true); 
              } 
          }); 
      } 
  </script> 


</body>
</html>